.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3%;
}
.abotMe {
  position: absolute;
  width: 60%;
  left: 15%;
  font-size: 1.5rem;
  padding: 1%;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
}
.introduction {
  height: 50px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
.introduction h3 {
  letter-spacing: -0.1em;
}
.introduction h3 span:nth-of-type(1) {
  animation: jump 1s ease 0.1s both;
  -webkit-animation: jump 1s ease 0.1s both;
}
.introduction h3 span:nth-of-type(2) {
  animation: jump 1s ease 0.5s both;
  -webkit-animation: jump 1s ease 0.5s both;
}
.introduction h3 span:nth-of-type(3) {
  animation: jump 1s ease 0.7s both;
  -webkit-animation: jump 1s ease 0.7s both;
}
.introduction h3 span:nth-of-type(4) {
  animation: jump 1s ease 0.9s both;
  -webkit-animation: jump 1s ease 0.9s both;
}
.introduction h3 span:nth-of-type(5) {
  animation: jump 1s ease 1.1s both;
  -webkit-animation: jump 1s ease 1.1s both;
}
.introduction p {
  margin-left: 5.5%;
}
.introduction p span {
  font-size: 1.5rem;
}
.introduction p span:nth-of-type(1) {
  animation: jump 1s ease 1.3s both;
  -webkit-animation: jump 1s ease 1.3s both;
}
.introduction p span:nth-of-type(2) {
  animation: jump 1s ease 1.5s both;
  -webkit-animation: jump 1s ease 1.5s both;
}
.introduction p span:nth-of-type(3) {
  animation: jump 1s ease 1.7s both;
  -webkit-animation: jump 1s ease 1.7s both;
}
.introduction p span:nth-of-type(4) {
  animation: jump 1s ease 1.9s both;
  -webkit-animation: jump 1s ease 1.9s both;
}
.introduction p span:nth-of-type(5) {
  animation: jump 1s ease 2.1s both;
  -webkit-animation: jump 1s ease 2.1s both;
}
.introduction p span:nth-of-type(6) {
  animation: jump 1s ease 2.3s both;
  -webkit-animation: jump 1s ease 2.3s both;
}
.introduction p span:nth-of-type(7) {
  animation: jump 1s ease 2.5s both;
  -webkit-animation: jump 1s ease 2.5s both;
}
.introduction p span:nth-of-type(8) {
  animation: jump 1s ease 2.7s both;
  -webkit-animation: jump 1s ease 2.7s both;
}
.introduction p span:nth-of-type(9) {
  animation: jump 1s ease 2.9s both;
  -webkit-animation: jump 1s ease 2.9s both;
}
.introduction p span:nth-of-type(10) {
  animation: jump 1s ease 3.1s both;
  -webkit-animation: jump 1s ease 3.1s both;
}
.introduction p span:nth-of-type(11) {
  animation: jump 1s ease 3.3s both;
  -webkit-animation: jump 1s ease 3.3s both;
}
.introduction p span:nth-of-type(12) {
  animation: jump 1s ease 3.5s both;
  -webkit-animation: jump 1s ease 3.5s both;
}
.introduction p span:nth-of-type(13) {
  animation: jump 1s ease 3.7s both;
  -webkit-animation: jump 1s ease 3.7s both;
}
.introduction p span:nth-of-type(14) {
  animation: jump 1s ease 3.9s both;
  -webkit-animation: jump 1s ease 3.9s both;
}
.introduction p span:nth-of-type(15) {
  animation: jump 1s ease 4.1s both;
  -webkit-animation: jump 1s ease 4.1s both;
}
.introduction p span:nth-of-type(16) {
  animation: jump 1s ease 4.3s both;
  -webkit-animation: jump 1s ease 4.3s both;
}
.introduction p span:nth-of-type(17) {
  animation: jump 1s ease 4.5s both;
  -webkit-animation: jump 1s ease 4.5s both;
}
.evaluate {
  margin-top: 1%;
  height: 150px;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #cccccc;
}
.evaluate h3 {
  margin-top: 5px;
  letter-spacing: -0.1em;
}
.evaluate h3 span:nth-of-type(1) {
  animation: jump 1s ease 4.7s both;
  -webkit-animation: jump 1s ease 4.7s both;
}
.evaluate h3 span:nth-of-type(2) {
  animation: jump 1s ease 4.9s both;
  -webkit-animation: jump 1s ease 4.9s both;
}
.evaluate h3 span:nth-of-type(3) {
  animation: jump 1s ease 5.1s both;
  -webkit-animation: jump 1s ease 5.1s both;
}
.evaluate h3 span:nth-of-type(4) {
  animation: jump 1s ease 5.3s both;
  -webkit-animation: jump 1s ease 5.3s both;
}
.evaluate h3 span:nth-of-type(5) {
  animation: jump 1s ease 5.5s both;
  -webkit-animation: jump 1s ease 5.5s both;
}
.evaluate ul {
  margin-left: 6%;
}
.evaluate ul li {
  height: 30px;
  line-height: 30px;
  font-size: 1.5rem;
}
.evaluate ul li:nth-of-type(1) {
  animation: jump 1s ease 5.7s both;
  -webkit-animation: jump 1s ease 5.7s both;
}
.evaluate ul li:nth-of-type(2) {
  animation: jump 1s ease 5.9s both;
  -webkit-animation: jump 1s ease 5.9s both;
}
.evaluate ul li:nth-of-type(3) {
  animation: jump 1s ease 6.1s both;
  -webkit-animation: jump 1s ease 6.1s both;
}
.doing {
  margin-top: 1%;
  height: 150px;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #cccccc;
}
.doing h3 {
  letter-spacing: -0.1em;
  margin-top: 5px;
}
.doing h3 span:nth-of-type(1) {
  animation: jump 1s ease 6.3s both;
  -webkit-animation: jump 1s ease 6.3s both;
}
.doing h3 span:nth-of-type(2) {
  animation: jump 1s ease 6.5s both;
  -webkit-animation: jump 1s ease 6.5s both;
}
.doing h3 span:nth-of-type(3) {
  animation: jump 1s ease 6.7s both;
  -webkit-animation: jump 1s ease 6.7s both;
}
.doing h3 span:nth-of-type(4) {
  animation: jump 1s ease 6.9s both;
  -webkit-animation: jump 1s ease 6.9s both;
}
.doing h3 span:nth-of-type(5) {
  animation: jump 1s ease 6.9s both;
  -webkit-animation: jump 1s ease 6.9s both;
}
.doing h3 span:nth-of-type(6) {
  animation: jump 1s ease 7.1s both;
  -webkit-animation: jump 1s ease 7.1s both;
}
.doing h3 span:nth-of-type(7) {
  animation: jump 1s ease 7.3s both;
  -webkit-animation: jump 1s ease 7.3s both;
}
.doing ul {
  margin-left: 2%;
}
.doing ul li {
  height: 30px;
  line-height: 30px;
  font-size: 1.5rem;
}
.doing ul li:nth-of-type(1) {
  animation: jump 1s ease 7.5s both;
  -webkit-animation: jump 1s ease 7.5s both;
}
.doing ul li:nth-of-type(2) {
  animation: jump 1s ease 7.7s both;
  -webkit-animation: jump 1s ease 7.7s both;
}
.doing ul li:nth-of-type(3) {
  animation: jump 1s ease 7.9s both;
  -webkit-animation: jump 1s ease 7.9s both;
}
.interest {
  margin-top: 1%;
  height: 150px;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #cccccc;
}
.interest h3 {
  margin-top: 5px;
  letter-spacing: -0.1em;
}
.interest h3 span:nth-of-type(1) {
  animation: jump 1s ease 8.1s both;
  -webkit-animation: jump 1s ease 8.1s both;
}
.interest h3 span:nth-of-type(2) {
  animation: jump 1s ease 8.3s both;
  -webkit-animation: jump 1s ease 8.3s both;
}
.interest h3 span:nth-of-type(3) {
  animation: jump 1s ease 8.5s both;
  -webkit-animation: jump 1s ease 8.5s both;
}
.interest ul {
  margin-left: 10%;
}
.interest ul li {
  height: 30px;
  line-height: 30px;
  font-size: 1.5rem;
}
.interest ul li:nth-of-type(1) {
  animation: jump 1s ease 8.7s both;
  -webkit-animation: jump 1s ease 8.7s both;
}
.interest ul li:nth-of-type(2) {
  animation: jump 1s ease 8.9s both;
  -webkit-animation: jump 1s ease 8.9s both;
}
.interest ul li:nth-of-type(3) {
  animation: jump 1s ease 9.1s both;
  -webkit-animation: jump 1s ease 9.1s both;
}
.goIn {
  position: absolute;
  right: 0;
  height: 75%;
  width: 20%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  border-right: 1px solid #cccccc;
}
.goIn button {
  width: 18%;
  height: 50%;
  font-size: 3rem;
  border-radius: 1rem;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, skyblue 20%, #53f19d 50%, #448787 80%);
  background-image: linear-gradient(left, skyblue 20%, #50eb7e 50%, #448787 80%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient infinite 5s ease;
  cursor: pointer;
}
@keyframes jump {
  0% {
    position: relative;
    top: -20px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes jump {
  0% {
    position: relative;
    top: -20px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
